@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;620&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@600&family=Roboto&family=Sacramento&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("assets/bg.png");
}
.score{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin: auto;
    margin-top: 3vw;
    color: white;
    font-size: 3vw;
}
.score h1{
    margin: 0.5vw;
}
.game-arena{
    display: flex;
    max-width: 70%;
    justify-content: space-between;
    margin: auto;
}
.play-area{
    height: 25vw;
    width: 25vw;
    border: 2px solid rgb(247,181,67);
}
.play-area h3{
    color: white;
    text-align: center;
    font-size: 2vw;
}
.vs-image img{
    height: 30vw;
}
.move{
    height: 15vw;
    width: 20vw;
}
.move img{
    width: 100%;
    height: 100%;
}
#moveset{
    display: flex;
    justify-content: space-around;
}
#moveset img{
    width: 6vw;
    cursor: pointer;
}
.result{
    display: none;
}
#result-status{
    color: white;
    font-size: 2vw;
    text-align: center;
}
.button{
    padding: 0.5vw 1vw;
    color: white;
    background-color: rgb(247,181,67);
    border-radius: 5px;
    max-width: fit-content;
    margin: auto;
    font-size: 2vw;
    cursor: pointer;
}